In [96]:
import requests as req
from bs4 import BeautifulSoup as bs
import pandas as pd
import numpy as np
import csv
import time

from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By

url = """https://www.melon.com/index.htm"""
driver = webdriver.Chrome(service = Service('driver/chromedriver'))
driver.get(url)
time.sleep(1.5)

xpath = """//*[@id="chk_id01"]"""
driver.find_element(By.XPATH, xpath).click()
time.sleep(1.5)

xpath = """//*[@id="gnb_menu"]/ul[1]/li[1]/a/span[2]"""
driver.find_element(By.XPATH, xpath).click()
time.sleep(1.5)

html = bs(driver.page_source, 'lxml')
time.sleep(1.5)

header = {"User-Agent" : "Mozilla/5.0"}
res = req.get("https://www.melon.com/chart/index.htm", headers =header)
# header 로 페이지 접속 시 접속하는 사람의 정보 전달
# 일반적으로 막혀있어서 헤더 정보를 웹페이지로 변경하여 접근

singer_list = []
song_list = []
#res.text
soup = bs(res.text, 'lxml')

singer = soup.select("span.checkEllipsis")

song = soup.select("div.rank01>span")


for i, k in zip(singer, song):
    singer_list.append(i.text)
    song_list.append(k.text)

print('set')

set

In [97]:
xpath = """//*[@id="frm"]/div/table/tbody"""

list = driver.find_element(By.XPATH, xpath).text.split('\n')

singer_list = []
song_list = []
rank = []
like = []

while(True):
    for i in range(0, len(list), 6):
        try:
            a = int(list[i+1])
        except:
              continue
        del list[i+1]
        break;
    if(len(list) <= 600):
        break;
            



for i in range(0,len(list),6):
    rank.append(list[i])
    song_list.append(list[i+1])
    singer_list.append(list[i+2])
    like.append(list[i+5])
    
df = pd.DataFrame({'순위' : rank,
                   '제목' : song_list,
                   '가수' : singer_list,
                  '좋아요' : like})
df.set_index('순위', inplace = True)
df.index.name ="Melon 차트"
df

                                  제목                 가수      좋아요
Melon 차트
1                  그때 그 순간 그대로 (그그그)       WSG워너비 (가야G)   89,872
2                              보고싶었어     WSG워너비 (4FIRE)   88,799
3                          LOVE DIVE          IVE (아이브)  173,486
4                               POP!         나연 (TWICE)   69,252
5                             TOMBOY            (여자)아이들  204,468
...                              ...                ...      ...
96                          With you            지민, 하성운   59,092
97                                문득          BE'O (비오)  114,319
98        낭만교향곡 (Feat. CHANGMO, 박재범)  BIG Naughty (서동현)   46,183
99                          Blueming                아이유  341,657
100                 눈이 오잖아(Feat.헤이즈)                이무진   90,146

[100 rows x 3 columns]

In [22]:
import requests

from bs4 import BeautifulSoup


headers = {'User-Agent' : 'Mozilla/5.0 (Windows NT 10.0; Win64; x64)AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36'}
data = requests.get('https://finance.naver.com/sise/sise_market_sum.nhn',headers=headers)

soup = BeautifulSoup(data.text, 'html.parser')

stocks = soup.select('#contentarea > div.box_type_l > table.type_2 > tbody > tr')

for stock in stocks:
    a_tag = stock.select_one('td:nth-child(2) > a')
    if a_tag is not None:
        price = stock.select_one('td:nth-child(3)').text
        name = a_tag.text
        row = {
            'name': name,
            'price': price
        }
        print(name, price)

삼성전자 61,200
LG에너지솔루션 422,000
SK하이닉스 97,000
삼성바이오로직스 869,000
삼성전자우 56,400
LG화학 610,000
NAVER 259,500
현대차 195,500
삼성SDI 577,000
카카오 74,300
기아 80,300
셀트리온 188,000
삼성물산 119,000
현대모비스 225,000
POSCO홀딩스 240,000
KB금융 47,900
신한지주 35,000
SK이노베이션 187,000
SK 219,000
LG전자 94,500
카카오뱅크 30,850
한국전력 22,050
LG 81,000
HMM 25,150
LG생활건강 783,000
두산에너빌리티 18,750
삼성생명 59,800
현대중공업 134,000
SK텔레콤 53,600
크래프톤 238,000
KT&G 81,300
하나금융지주 36,950
삼성전기 142,000
S-Oil 93,000
삼성에스디에스 134,000
포스코케미칼 133,500
KT 38,150
삼성화재 197,000
SK바이오사이언스 121,500
대한항공 25,150
고려아연 484,500
우리금융지주 11,750
한화솔루션 44,300
LG이노텍 357,000
엔씨소프트 373,500
카카오페이 61,400
하이브 182,000
아모레퍼시픽 128,000
기업은행 9,340
현대글로비스 179,000

In [63]:
table = melon_top_soup.select('tbody')[0]

charts = dict()
for t in table.find_all('tr'):
    music_id=t['data-song-no'].replace('\n','')
    rank=t.find(class_='rank').get_text().replace('\n','')
    change=t.find(class_='rank_wrap').get_text().replace('\n','')
    title=t.find(class_='ellipsis rank01').get_text().replace('\n','')
    artist=t.find(class_='checkEllipsis').get_text().replace('\n','')
    album=t.find(class_='ellipsis rank03').get_text().replace('\n','')
    charts[rank]={'id':music_id,'rank':rank,'change':change, 'title':title,'artist':artist,'album':album}
    

pd.DataFrame(charts).transpose().set_index('rank')

,id,change,title,artist,album
rank,,,,,
1,35383397,순위 동일0,그때 그 순간 그대로 (그그그),WSG워너비 (가야G),WSG워너비 1집
2,35383398,순위 동일0,보고싶었어,WSG워너비 (4FIRE),WSG워너비 1집
3,34847378,순위 동일0,LOVE DIVE,IVE (아이브),LOVE DIVE
4,35333345,순위 동일0,POP!,나연 (TWICE),IM NAYEON
5,34927767,단계 상승2,정이라고 하자 (Feat. 10CM),BIG Naughty (서동현),정이라고 하자
...,...,...,...,...,...
96,33239419,순위 진입,Celebrity,아이유,IU 5th Album 'LILAC'
97,33372781,순위 진입,라일락,아이유,IU 5th Album 'LILAC'
98,30287019,순위 진입,롤린 (Rollin'),브레이브걸스,Rollin'
99,35268787,순위 진입,"낭만교향곡 (Feat. CHANGMO, 박재범)",BIG Naughty (서동현),낭만
100,33448767,순위 진입,문득,BE'O (비오),Bipolar